body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial', sans-serif; /* Changed font style */
    background-color: #f0f8ff; /* Light blue background color */
    margin: 0;
    padding: 20px;
    border: #303f9f;
}

h1 {
    margin-bottom: 20px;
    color: #2c3e50; /* Darker blue font color */
}

header {
    background-color: #3498db; /* Header background color */
    color: white;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    border-radius: 8px;
}

#puzzleGrid {
    display: grid;
    gap: 5px;
    margin-top: 20px;
    background-color: #f0f8ff; /* Same as body background */
}

.cell {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8e44ad; /* Cell background color */
    font-size: 24px; /* Increased font size */
    color: white; /* Font color for cells */
    border: 1px solid #333;
    border-radius: 10px; /* More rounded corners for cells */
    transition: background-color 0.3s; /* Smooth transition for hover effects */
}

.cell:hover {
    background-color: #e74c3c; /* Lighter red on hover */
}

.blank {
    background-color: #bdc3c7; /* Background color for the blank cell */
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 18px; /* Increased font size */
    cursor: pointer;
    background-color: #3498db; /* Button background color */
    color: white; /* Button text color */
    border: none;
    border-radius: 5px; /* Rounded corners for buttons */
    transition: background-color 0.3s; /* Smooth transition for hover effects */
}

button:hover {
    background-color: #2980b9; /* Darker shade on hover */
}
